# ignore patterns

replay/scripts/calibrate/BPM/HarpScans/*
replay/scripts/calibrate/BPM/harp_results_*
replay/scripts/FADC_decode/results/
replay/scripts/calibrate/BPM/*.txt
replay/Rootfiles*
replay/plots
replay/*.pdf
replay/*.eps
replay/*.jpg
replay/Time_check/*.pdf
replay/scripts/FADC_decode/*
replay/scripts/list/*.pdf
replay/scripts/*.csv
replay/scripts/*.pdf
replay/scripts/Per_run_avg_current.csv
replay/#*
replay/scripts/analysis/apex*.pdf
replay/libraries/TriFadcCherenkov/#*
replay/libraries/SciFi/#*
replay/rol/roc20_tritium_list.c_*
replay/rol/roc20_tritium_list_*
replay/rol/fadc_vxs_apex.c_*
replay/rol/.roc20_*
replay/rol/.R*
replay/rol/.*swp

replay/libraries/TriFadcShower/#*
replay/onlineGUI64/#*

replay/scripts/analysis/*.pdf

replay/scripts/FADC_decode_apex/results/*
replay/scripts/FADC_decode_apex/FADCcom_main_debug.txt

replay/brash/

replay/replay_apex_old.C

**/*.tar
**/*~
**/*.o
**/*.a
**/*.so
**/*.d
**/*.root
**/root_hist
**/*.xpm
**/*.pcm
**/*.dat.*
**/*Dict.*
**/*.aux
**/*.log
**/*.out
replay/*.gif
#**/*LinkDef.*    Not a compiled file, don't ignore. Oops.
**/.nfs*
#replay/*.0
#replay/*.so
#replay/*.d
#replay/*.pcm

replay/onlineGUI64/online
replay/onlineGUI64/*.pdf
replay/scripts/SPOT/**/*.pdf
replay/scripts/Time_check/*.pdf

replay/DB/*
replay/RootFiles
replay/RootFiles_chafs
replay/ScratchRootFiles
replay/summaryfiles/*

scaler/xscaler
scaler/hana_decode/THaDecDict.C
scaler/hana_scaler/THaScalDict.C
scaler/hana_decode/epicsd
scaler/hana_decode/prfact
scaler/hana_decode/tdecex
scaler/hana_decode/tdecpr
scaler/hana_decode/tstio
scaler/hana_scaler/tscalasy
scaler/hana_scaler/tscaldtime
scaler/hana_scaler/tscalevt
scaler/hana_scaler/tscalfile
scaler/hana_scaler/tscalhist
scaler/hana_scaler/tscalntup
scaler/hana_scaler/tscalonl
scaler/hana_scaler/tscalring
scaler/hana_scaler/tscalroc11
scaler/hana_scaler/xscaler
replay/scripts/calibrate/BPM/Rootfiles
replay/libs/*


replay/scripts/FADC_decode_apex/results/*txt
replay/scripts/FADC_decode_apex/results/*png



replay/scripts/#*
replay/scripts/analysis/#*
replay/scripts/.#*
replay/scripts/beam_rate/#*
replay/scripts/beam_rate/.#*

replay/scripts/FADC_decode_apex/FADCcom
replay/scripts/FADC_decode_apex/epicsd
replay/scripts/FADC_decode_apex/prfact
replay/scripts/FADC_decode_apex/tdecex
replay/scripts/FADC_decode_apex/tdecpr
replay/scripts/FADC_decode_apex/tst1190
replay/scripts/FADC_decode_apex/tstf1tdc
replay/scripts/FADC_decode_apex/tstfadc
replay/scripts/FADC_decode_apex/tstfadcblk
replay/scripts/FADC_decode_apex/tstio
replay/scripts/FADC_decode_apex/tstskel
replay/scripts/FADC_decode_apex/tstoo


replay/Per*

replay/scripts/Per_run_target_stability_T2_per_uA.csv


replay/scripts/list/runlist.tex

replay/Results_per_run_scripts/*

  

replay/libraries/TriFadcScin/TriFadcScin_02_16_19.h
replay/libraries/TriFadcScin/TriFadcScin_changed_02_16_19.cxx


 

