# ignore patterns

replay/scripts/calibrate/BPM/HarpScans/*
replay/scripts/calibrate/BPM/harp_results_*
replay/scripts/FADC_decode/results/
replay/scripts/calibrate/BPM/*.txt
replay/Rootfiles*
replay/plots
replay/*.pdf
replay/*.eps
replay/*.jpg
replay/Time_check/*.pdf
replay/scripts/FADC_decode/*
replay/scripts/list/*.pdf

**/*~
**/*.o
**/*.a
**/*.so
**/*.d
**/*.root
**/root_hist
**/*.xpm
**/*.pcm
**/*.dat.*
**/*Dict.*
**/*.aux
**/*.log
**/*.out
#**/*LinkDef.*    Not a compiled file, don't ignore. Oops.
**/.nfs*
#replay/*.0
#replay/*.so
#replay/*.d
#replay/*.pcm

replay/onlineGUI64/online
replay/onlineGUI64/*.pdf
replay/scripts/SPOT/**/*.pdf
replay/scripts/Time_check/*.pdf

replay/DB/*
replay/RootFiles
replay/RootFiles_chafs
replay/ScratchRootFiles
replay/summaryfiles/*

scaler/xscaler
scaler/hana_decode/THaDecDict.C
scaler/hana_scaler/THaScalDict.C
scaler/hana_decode/epicsd
scaler/hana_decode/prfact
scaler/hana_decode/tdecex
scaler/hana_decode/tdecpr
scaler/hana_decode/tstio
scaler/hana_scaler/tscalasy
scaler/hana_scaler/tscaldtime
scaler/hana_scaler/tscalevt
scaler/hana_scaler/tscalfile
scaler/hana_scaler/tscalhist
scaler/hana_scaler/tscalntup
scaler/hana_scaler/tscalonl
scaler/hana_scaler/tscalring
scaler/hana_scaler/tscalroc11
scaler/hana_scaler/xscaler
replay/scripts/calibrate/BPM/Rootfiles
replay/libs/*
