# Configuration file for the online GUI 
# This file is for detectors on L-arm.
# This file uses histograms, best for analyzer version >= 1.1
#
#  All lines containing "#" are treated as comments (ignored)
#  Last line MUST be blank.
#  Multiple spaces are treated as one space.
#  More details in README

goldenrootfile /adaqfs/home/a-onl/tritium/replay/RootFiles/coinc_test_golden.root
protorootfile /adaqfs/home/a-onl/tritium/replay/RootFiles/coinc_online_XXXXX.root

newpage 2 2 logy
	title L-arm S0 ADC:ped. alligned
	Ls0la_p
	Ls0ra_p
	Ls0lt
	Ls0rt

newpage 2 1 logz
	title L-arm S0 Amplitude vs. Time
	macro scripts/gate_check_left.C(5,"col")
	macro scripts/gate_check_left.C(4,"col")

newpage 2 6 logy
	title L-arm S2m ADC:ped. alligned (0-5)
	Ls2la_p0
	Ls2ra_p0
	Ls2la_p1
	Ls2ra_p1
	Ls2la_p2
	Ls2ra_p2
	Ls2la_p3
	Ls2ra_p3
	Ls2la_p4
	Ls2ra_p4
	Ls2la_p5
	Ls2ra_p5

newpage 2 6 logy
        title L-arm S2m ADC:ped. alligned (6-11)
        Ls2la_p6
        Ls2ra_p6
        Ls2la_p7
        Ls2ra_p7
        Ls2la_p8
        Ls2ra_p8
        Ls2la_p9
        Ls2ra_p9
        Ls2la_p10
        Ls2ra_p10
        Ls2la_p11
        Ls2ra_p11

newpage 2 4 logy
        title L-arm S2m ADC:ped. alligned (12-15)
        Ls2la_p12
        Ls2ra_p12
        Ls2la_p13
        Ls2ra_p13
        Ls2la_p14
        Ls2ra_p14
        Ls2la_p15
        Ls2ra_p15

newpage 2 6 logy
	title L-arm S2m TDC (0-5)
	Ls2lt0
	Ls2rt0
	Ls2lt1
	Ls2rt1
	Ls2lt2
	Ls2rt2
	Ls2lt3
	Ls2rt3
	Ls2lt4
	Ls2rt4
	Ls2lt5
	Ls2rt5

newpage 2 6 logy
        title L-arm S2m TDC (6-11)
        Ls2lt6
        Ls2rt6
        Ls2lt7
        Ls2rt7
        Ls2lt8
        Ls2rt8
        Ls2lt9
        Ls2rt9
        Ls2lt10
        Ls2rt10
        Ls2lt11
        Ls2rt11

newpage 2 4 logy
        title L-arm S2m TDC (12-15)
        Ls2lt12
        Ls2rt12
        Ls2lt13
        Ls2rt13
        Ls2lt14
        Ls2rt14
        Ls2lt15
        Ls2rt15

newpage 2 3 logz
        title L-arm S2m compact plots
        macro scripts/compact.C("Ls2la_p",0,15,"hcolz")
        macro scripts/compact.C("Ls2ra_p",0,15,"hcolz")
        macro scripts/compact.C("Ls2lt",0,15,"hcolz")
        macro scripts/compact.C("Ls2rt",0,15,"hcolz")
        macro scripts/compact_count.C("Ls2lt",0,15,"")
        macro scripts/compact_count.C("Ls2rt",0,15,"")

newpage 2 1 logz
	title L-arm S2m Amplitude vs. Time
	macro scripts/gate_check_left.C(2,"col")
	macro scripts/gate_check_left.C(3,"col")
	

newpage 2 5 logy
        title L-arm Cerenkov ADC:ped. alligned (0-9)
        Lcera_p0
        Lcera_p1
        Lcera_p2
        Lcera_p3
        Lcera_p4
        Lcera_p5
        Lcera_p6
        Lcera_p7
        Lcera_p8
        Lcera_p9

newpage 2 5 logy
        title L-arm Cerenkov TDC (0-9)
        Lcert0
        Lcert1
        Lcert2
        Lcert3
        Lcert4
        Lcert5
        Lcert6
        Lcert7
        Lcert8
        Lcert9

newpage 1 3 logz
        title L-arm Cerenkov compact plots
        macro scripts/compact.C("Lcera_p",0,9,"hcolz")
        macro scripts/compact.C("Lcert",0,9,"hcolz")
        macro scripts/compact_count.C("Lcert",0,9,"")

newpage 1 1 logy
	title L-arm Cerenkov Sum
	Lcersum

newpage 1 1
        title L-arm Cerenkov Amplitude vs. Time
       macro scripts/gate_check_left.C(1,"")

#not working for replay coinc without DL data (F.H, 19 Feb 17)
#newpage 1 1 logz
#	title Cerenkov Hardware Sum: Amplitude vs. Time
#        macro scripts/gate_check_left.C(7,"col")

newpage 1 2
	title L-arm Cerenkov Sum vs. X and Y
	Lcer_x -type COLZ -noshowgolden
        Lcer_y -type COLZ -noshowgolden

newpage 2 2
	title L-arm VDC wires
        Lvu1w
	Lvu2w
	Lvv1w
	Lvv2w

newpage 2 2
	title L-arm VDC TDC
        Lvu1t
	Lvu2t
	Lvv1t
	Lvv2t

newpage 2 2 logy
	title L-arm VDC hits
	Lu1nhit
	Lu2nhit
	Lv1nhit
	Lv2nhit

newpage 2 2 
	title L-arm VDC efficiency
	Lu1eff
	Lu2eff
	Lv1eff
	Lv2eff

newpage 2 6 logy
        title Pion Rejector1 ADC:ped. alligned (0-11)
	multiplot 0 11 Lpsa_pXXXXX

newpage 2 6 logy
        title Pion Rejector1 ADC:ped. alligned (12-23)
	multiplot 12 23 Lpsa_pXXXXX

newpage 2 5 logy
        title Pion Rejector1 ADC:ped. alligned (24-33)
	multiplot 24 33 Lpsa_pXXXXX


newpage 2 6 logy
        title Pion Rejector2 ADC:ped. alligned (0-11)
	multiplot 0 11 Lsha_pXXXXX

newpage 2 6 logy
        title Pion Rejector2 ADC:ped. alligned (12-23)
	multiplot 12 23 Lsha_pXXXXX

newpage 2 5 logy
        title Pion Rejector2 ADC:ped. alligned (24-33)
	multiplot 24 33 Lsha_pXXXXX

newpage 2 2
	title Pion Rejector Sum vs. X and Y
	Lp1sumx -type COLZ -noshowgolden
	Lp2sumx -type COLZ -noshowgolden
	Lp1sumy -type COLZ -noshowgolden
	Lp2sumy -type COLZ -noshowgolden

#not working for replay coinc without DL data (F.H, 19 Feb 17)
#newpage 1 1
#	title Pion Rejector Hardware Sum: Amplitude vs. Time
#	macro scripts/gate_check_left.C(6,"col")   

newpage 1 1 logz
	title Pion Rejector Layer 2 vs. Layer 1 
#	Lpr1_2 -type COLZ -noshowgolden
	macro scripts/pid_det_left.C(1,"col")

newpage 1 1 logz
	title Gas Cherenkov vs. Calorimeter 
	macro scripts/pid_det_left.C(2,"col")

newpage 3 2 logy
	title Corrected Straw Number of Hits (Straw Chamber)
	Lu1_stn_c
	Lu2_stn_c
	Lu3_stn_c
	Lv1_stn_c
	Lv2_stn_c
	Lv3_stn_c

newpage 3 2 
	title Wire Groups Hits (Straw Chamber)
	Lu1_wn
	Lu2_wn
	Lu3_wn
	Lv1_wn
	Lv2_wn
	Lv3_wn

newpage 2 3
	title TDC Pulse Widths (Straw Chamber)
	Lu1_tdc
	Lu2_tdc
	Lu3_tdc
	Lv1_tdc
	Lv2_tdc
	Lv3_tdc

newpage 2 3
	title Leading edge TDCs corrected (Straw Chamber)
	Lu1_ltdc_c
	Lu2_ltdc_c
	Lu3_ltdc_c
	Lv1_ltdc_c
	Lv2_ltdc_c
	Lv3_ltdc_c

newpage 2 3
	title Drift distance corrected (Straw Chamber)
	Lu1_dd_c
	Lu2_dd_c
	Lu3_dd_c
	Lv1_dd_c
	Lv2_dd_c
	Lv3_dd_c

newpage 2 3 logz
	title Tracking Position X vs Straw Chamber
	Lu1_X_stn -type COLZ -noshowgolden
	Lu2_X_stn -type COLZ -noshowgolden
	Lu3_X_stn -type COLZ -noshowgolden
	Lv1_X_stn -type COLZ -noshowgolden
	Lv2_X_stn -type COLZ -noshowgolden
	Lv3_X_stn -type COLZ -noshowgolden

newpage 2 3
	title Leading Edge TDCs (Straw Chamber)
	Lu1_ltdc
	Lu2_ltdc
	Lu3_ltdc
	Lv1_ltdc
	Lv2_ltdc
	Lv3_ltdc

#newpage 2 3
#	title TDC Pulse Widths vs Wire Group (Straw Chamber)
#	Lu1_tdc_wg
#	Lu2_tdc_wg
#	Lu3_tdc_wg
#	Lv1_tdc_wg
#	Lv2_tdc_wg
#	Lv3_tdc_wg

newpage 2 3
	title Number of hits vs. Wire Number (Straw Chamber)
	Lu1_nh_wn
	Lu2_nh_wn
	Lu3_nh_wn
	Lv1_nh_wn
	Lv2_nh_wn
	Lv3_nh_wn

newpage 2 2
	title Number of hits in Straw Chamber
	Lfpp_nhit
	Lfpp_ufront
	Lfpp_vfront





 






