# Configuration file for the online GUI 
# This file is for detectors on R-arm.
# This file uses histograms, best for analyzer version >= 1.1
#
#  All lines containing "#" are treated as comments (ignored)
#  Last line MUST be blank.
#  Multiple spaces are treated as one space.
#  More details in README
goldenrootfile /chafs1/work1/tritium/Rootfiles/tritium_Right_golden.root
protorootfile /chafs1/work1/tritium/Rootfiles/tritium_online_XXXXX.root



newpage 2 2 logy
	title R-arm S0 ADC:ped. alligned
	Rs0ra_p
	Rs0la_p
	Rs0rt
	Rs0lt

newpage 2 1 logz
        title R-arm S0 Amplitude vs. Time
        macro scripts/gate_check_right.C(5,"col")
        macro scripts/gate_check_right.C(4,"col")

newpage 1 2
	title R-arm S0 fADC vs. Fastbus
	Rs0Bfadcvfbus
	Rs0Afadcvfbus


newpage 2 6 logy
	title R-arm S2m ADC:ped. alligned (0-5)
	Rs2la_p0
	Rs2ra_p0
	Rs2la_p1
	Rs2ra_p1
	Rs2la_p2
	Rs2ra_p2
	Rs2la_p3
	Rs2ra_p3
	Rs2la_p4
	Rs2ra_p4
	Rs2la_p5
	Rs2ra_p5

newpage 2 6 logy
        title R-arm S2m ADC:ped. alligned (6-11)
        Rs2la_p6
        Rs2ra_p6
        Rs2la_p7
        Rs2ra_p7
        Rs2la_p8
        Rs2ra_p8
        Rs2la_p9
        Rs2ra_p9
        Rs2la_p10
        Rs2ra_p10
        Rs2la_p11
        Rs2ra_p11

newpage 2 4 logy
        title R-arm S2m ADC:ped. alligned (12-15)
        Rs2la_p12
        Rs2ra_p12
        Rs2la_p13
        Rs2ra_p13
        Rs2la_p14
        Rs2ra_p14
        Rs2la_p15
        Rs2ra_p15

newpage 2 6 logy
	title R-arm S2m TDC (0-5)
	Rs2lt0
	Rs2rt0
	Rs2lt1
	Rs2rt1
	Rs2lt2
	Rs2rt2
	Rs2lt3
	Rs2rt3
	Rs2lt4
	Rs2rt4
	Rs2lt5
	Rs2rt5

newpage 2 6 logy
        title R-arm S2m TDC (6-11)
        Rs2lt6
        Rs2rt6
        Rs2lt7
        Rs2rt7
        Rs2lt8
        Rs2rt8
        Rs2lt9
        Rs2rt9
        Rs2lt10
        Rs2rt10
        Rs2lt11
        Rs2rt11

newpage 2 4 logy
        title R-arm S2m TDC (12-15)
        Rs2lt12
        Rs2rt12
        Rs2lt13
        Rs2rt13
        Rs2lt14
        Rs2rt14
        Rs2lt15
        Rs2rt15
        
        newpage 2 4 logy
	title R-arm S2m TDC with Trigger Cuts (0-1)
	Rs2ltT4_0
	Rs2rtT4_0
	Rs2ltT6_0
	Rs2rtT6_0
	Rs2ltT4_1
	Rs2rtT4_1
	Rs2ltT6_1
	Rs2rtT6_1

newpage 2 4 logy
	title R-arm S2m TDC with Trigger Cuts (2-3)
	Rs2ltT4_2
	Rs2rtT4_2
	Rs2ltT6_2
	Rs2rtT6_2
	Rs2ltT4_3
	Rs2rtT4_3
	Rs2ltT6_3
	Rs2rtT6_3

newpage 2 4 logy
	title R-arm S2m TDC with Trigger Cuts (4-5)
	Rs2ltT4_4
	Rs2ltT6_4
	Rs2rtT4_4
	Rs2rtT6_4
	Rs2ltT4_5
	Rs2ltT6_5
	Rs2rtT4_5
	Rs2rtT6_5

newpage 2 4 logy
	title R-arm S2m TDC with Trigger Cuts (6-7)
	Rs2ltT4_6
	Rs2ltT6_6
	Rs2rtT4_6
	Rs2rtT6_6
	Rs2ltT4_7
	Rs2ltT6_7
	Rs2rtT4_7
	Rs2rtT6_7

newpage 2 4 logy
	title R-arm S2m TDC with Trigger Cuts (8-9)
	Rs2ltT4_8
	Rs2ltT6_8
	Rs2rtT4_8
	Rs2rtT6_8
	Rs2ltT4_9
	Rs2ltT6_9
	Rs2rtT4_9
	Rs2rtT6_9

newpage 2 4 logy
	title R-arm S2m TDC with Trigger Cuts (10-11)
	Rs2ltT4_10
	Rs2rtT4_10
	Rs2ltT6_10
	Rs2rtT6_10
	Rs2ltT4_11
	Rs2rtT4_11
	Rs2ltT6_11
	Rs2rtT6_11

newpage 2 4 logy
	title R-arm S2m TDC with Trigger Cuts (12-13)
	Rs2ltT4_12
	Rs2rtT4_12
	Rs2ltT6_12
	Rs2rtT6_12
	Rs2ltT4_13
	Rs2rtT4_13
	Rs2ltT6_13
	Rs2rtT6_13

newpage 2 4 logy
	title R-arm S2m TDC with Trigger Cuts (14-15)
	Rs2ltT4_14
	Rs2rtT4_14
	Rs2ltT6_14
	Rs2rtT6_14
	Rs2ltT4_15
	Rs2rtT4_15
	Rs2ltT6_15
	Rs2rtT6_15


newpage 2 3 logz
        title R-arm S2m compact plots
        macro scripts/compact.C("Rs2la_p",0,15,"hcolz")
        macro scripts/compact.C("Rs2ra_p",0,15,"hcolz")
        macro scripts/compact.C("Rs2lt",0,15,"hcolz")
        macro scripts/compact.C("Rs2rt",0,15,"hcolz")
        macro scripts/compact_count.C("Rs2lt",0,15,"")
        macro scripts/compact_count.C("Rs2rt",0,15,"")

newpage 2 1 logz
        title R-arm S2m Amplitude vs. Time
        macro scripts/gate_check_right.C(2,"col")
        macro scripts/gate_check_right.C(3,"col")

newpage 2 5 logy
        title R-arm Cerenkov ADC:ped. alligned (0-9)
        Rcera_p0
        Rcera_p1
        Rcera_p2
        Rcera_p3
        Rcera_p4
        Rcera_p5
        Rcera_p6
        Rcera_p7
        Rcera_p8
        Rcera_p9

newpage 2 5
	title R-arm Cerenkov fADC vs. Fastbus
	Rcerfadcvfbus0
	Rcerfadcvfbus1
	Rcerfadcvfbus2
	Rcerfadcvfbus3
	Rcerfadcvfbus4
	Rcerfadcvfbus5
	Rcerfadcvfbus6
	Rcerfadcvfbus7
	Rcerfadcvfbus8
	Rcerfadcvfbus9

newpage 2 5 logy
        title R-arm Cerenkov TDC (0-9)
        Rcert0
        Rcert1
        Rcert2
        Rcert3
        Rcert4
        Rcert5
        Rcert6
        Rcert7
        Rcert8
        Rcert9
	
	newpage 2 4 logy
	title R-arm Cerenkov TDC with Trigger cuts (0-3)
	RcertT4_0
	RcertT6_0
	RcertT4_1
	RcertT6_1
	RcertT4_2
	RcertT6_2
	RcertT4_3
	RcertT6_3

newpage 2 4 logy
	title R-arm Cerenkov TDC with Trigger cuts (4-7)
	RcertT4_4
	RcertT6_4
	RcertT4_5
	RcertT6_5
	RcertT4_6
	RcertT6_6
	RcertT4_7
	RcertT6_7

newpage 2 2 logy
	title R-arm Cerenkov TDC with Trigger cuts (8-9)
	RcertT4_8
	RcertT6_8
	RcertT4_9
	RcertT6_9


newpage 1 3 logz
        title R-arm Cerenkov compact plots
        macro scripts/compact.C("Rcera_p",0,9,"hcolz")
        macro scripts/compact.C("Rcert",0,9,"hcolz")
        macro scripts/compact_count.C("Rcert",0,9,"")

newpage 1 1 logy
        title R-arm Cerenkov Sum
        Rcersum

newpage 1 1
	title R-arm Cerenkov Amplitude vs. Time
	macro scripts/gate_check_right.C(1,"")

#newpage 1 1 logz
#        title Cerenkov Hardware Sum: Amplitude vs. Time
#        macro scripts/gate_check_right.C(7,"col")

newpage 1 2
        title R-arm Cerenkov Sum vs. X and Y
        Rcer_x -type COLZ -noshowgolden
        Rcer_y -type COLZ -noshowgolden

newpage 2 2
	title R-arm VDC wires
        Rvu1w
	Rvu2w
	Rvv1w
	Rvv2w

newpage 2 2
	title R-arm VDC TDC
       	Rvu1t
	Rvu2t
	Rvv1t
	Rvv2t

newpage 2 2 logy
	title R-arm VDC hits
	Ru1nhit
	Ru2nhit
	Rv1nhit
	Rv2nhit

newpage 2 2 
	title R-arm VDC efficiency
	Ru1eff
	Ru2eff
	Rv1eff
	Rv2eff

newpage 2 6 logy
        title Preshower ADC:ped. alligned (0-11)
	multiplot 0 11 Rpsa_pXXXXX

newpage 2 6 logy
        title Preshower ADC:ped. alligned (12-23)
	multiplot 12 23 Rpsa_pXXXXX

newpage 2 6 logy
        title Preshower ADC:ped. alligned (24-35)
	multiplot 24 35 Rpsa_pXXXXX

newpage 2 6 logy
	title Preshower ADC:ped. alligned (36-47)
	multiplot 36 47 Rpsa_pXXXXX

newpage 2 6 logy
        title Shower ADC:ped. alligned (0-11)
	multiplot 0 11 Rsha_pXXXXX

newpage 2 6 logy
        title Shower ADC:ped. alligned (12-23)
	multiplot 12 23 Rsha_pXXXXX

newpage 2 6 logy
        title Shower ADC:ped. alligned (24-35)
	multiplot 24 35 Rsha_pXXXXX

newpage 2 6 logy
        title Shower ADC:ped. alligned (36-47)
	multiplot 36 47 Rsha_pXXXXX

newpage 2 6 logy
        title Shower ADC:ped. alligned (48-59)
	multiplot 48 59 Rsha_pXXXXX

newpage 2 6 logy
        title Shower ADC:ped. alligned (60-71)
	multiplot 60 71 Rsha_pXXXXX

newpage 2 2 logy
        title Shower ADC:ped. alligned (72-74)
	multiplot 72 74 Rsha_pXXXXX

newpage 2 2
        title  Preshower/Shower vs. X and Y
        Rp1sumx -type COLZ -noshowgolden
        Rp2sumx -type COLZ -noshowgolden
        Rp1sumy -type COLZ -noshowgolden
        Rp2sumy -type COLZ -noshowgolden

#newpage 1 1
#        title Calorimeter Hardware Sum: Amplitude vs. Time
#        macro scripts/gate_check_right.C(6,"col")

newpage 1 1 logz
        title Shower E/p vs. Pre-Shower E/p 
#      	Rpr1_2 -type COLZ -noshowgolden
	macro scripts/pid_det_right.C(1,"col")

newpage 1 1 logz
        title Gas Cherenkov vs. Calorimeter 
        macro scripts/pid_det_right.C(2,"col")
newpage 2 5 logz
        title Scalers
        macro scripts/scalers_right.C(1,"box")
        macro scripts/scalers_right.C(2,"box")
        macro scripts/scalers_right.C(3,"box")
        macro scripts/scalers_right.C(4,"box")
        macro scripts/scalers_right.C(5,"box")
        macro scripts/scalers_right.C(6,"box")
        macro scripts/scalers_right.C(7,"box")
        macro scripts/scalers_right.C(8,"box")
        macro scripts/scalers_right.C(9,"box")
        macro scripts/scalers_right.C(10,"box")
        
        
newpage 1 1
	title s0 and s2 Hits per Paddle
	macro scripts/scin_hit_R.C
