# Configuration file for the online GUI 
# This file is for detectors on R-arm.
# This file uses histograms, best for analyzer version >= 1.1
#
#  All lines containing "#" are treated as comments (ignored)
#  Last line MUST be blank.
#  Multiple spaces are treated as one space.
#  More details in README


goldenrootfile /chafs1/work1/tritium/Rootfiles/tritium_Right_golden.root
protorootfile /chafs1/work1/tritium/Rootfiles/tritium_online_XXXXX.root

newpage 1 1
	title s0 and s2 Hits per Paddle
	macro scripts/scin_hit_R.C

newpage 2 2 logy
	title R-arm S0 ADC:ped. alligned
	Rs0ra_p
	Rs0la_p
	Rs0rt
	Rs0lt

newpage 2 8 logy
	title R-arm S2m ADC:ped. alligned (0-7)
	Rs2la_p0
	Rs2ra_p0
	Rs2la_p1
	Rs2ra_p1
	Rs2la_p2
	Rs2ra_p2
	Rs2la_p3
	Rs2ra_p3
	Rs2la_p4
	Rs2ra_p4
	Rs2la_p5
	Rs2ra_p5
	        Rs2la_p6
        Rs2ra_p6
        Rs2la_p7
        Rs2ra_p7

newpage 2 8 logy
        title R-arm S2m ADC:ped. alligned (8-15)

        Rs2la_p8
        Rs2ra_p8
        Rs2la_p9
        Rs2ra_p9
        Rs2la_p10
        Rs2ra_p10
        Rs2la_p11
        Rs2ra_p11
        Rs2la_p12
        Rs2ra_p12
        Rs2la_p13
        Rs2ra_p13
        Rs2la_p14
        Rs2ra_p14
        Rs2la_p15
        Rs2ra_p15


newpage 2 8 logy
	title R-arm S2m TDC (0-7)
	Rs2lt0
	Rs2rt0
	Rs2lt1
	Rs2rt1
	Rs2lt2
	Rs2rt2
	Rs2lt3
	Rs2rt3
	Rs2lt4
	Rs2rt4
	Rs2lt5
	Rs2rt5
        Rs2lt6
        Rs2rt6
        Rs2lt7
        Rs2rt7
newpage 2 8 logy
        title R-arm S2m TDC (8-15)

        Rs2lt8
        Rs2rt8
        Rs2lt9
        Rs2rt9
        Rs2lt10
        Rs2rt10
        Rs2lt11
        Rs2rt11
        Rs2lt12
        Rs2rt12
        Rs2lt13
        Rs2rt13
        Rs2lt14
        Rs2rt14
        Rs2lt15
        Rs2rt15 

newpage 2 5 logy
        title R-arm Cerenkov ADC:ped. alligned(0-9)
        Rcera_p0
        Rcera_p1
        Rcera_p2
        Rcera_p3
        Rcera_p4
        Rcera_p5
        Rcera_p6
        Rcera_p7
        Rcera_p8
        Rcera_p9

newpage 2 6 logy
        title R-arm A1 ADC:ped. alligned(Top Half PMTs)
        Ra1a_c0
        Ra1a_c12
        Ra1a_c1
        Ra1a_c13
        Ra1a_c2
        Ra1a_c14
        Ra1a_c3
        Ra1a_c15
        Ra1a_c4
        Ra1a_c16
 	Ra1a_c5
	Ra1a_c17
 
newpage 2 6 logy
        title R-arm A1 ADC:ped. alligned(Bottom Half PMTs)
        Ra1a_c6
        Ra1a_c18
        Ra1a_c7
        Ra1a_c19
        Ra1a_c8
        Ra1a_c20
        Ra1a_c9
        Ra1a_c21
        Ra1a_c10
        Ra1a_c22
 	Ra1a_c11
	Ra1a_c23

newpage 1 2 logy
	title R-arm A1 ADC Sum (Corrected)
	Ra1sum
	Ra1sum_scaled
 
newpage 2 6 logy
        title R-arm A2 ADC:ped. alligned(Top Half PMTs)
        Ra2a_c0
        Ra2a_c13
        Ra2a_c1
        Ra2a_c14
        Ra2a_c2
        Ra2a_c15
        Ra2a_c3
        Ra2a_c16
        Ra2a_c4
        Ra2a_c17
 	Ra2a_c5
	Ra2a_c18
 

newpage 2 7 logy
        title R-arm A2 ADC:ped. alligned(Bottom Half PMTs)
        Ra2a_c6
        Ra2a_c19
        Ra2a_c7
        Ra2a_c20
        Ra2a_c8
        Ra2a_c21
        Ra2a_c9
        Ra2a_c22
        Ra2a_c10
        Ra2a_c23
 	Ra2a_c11
	Ra2a_c24
	Ra2a_c12
	Ra2a_c25

newpage 1 2 logy
	title R-arm A2 ADC Sum (corrected)
	Ra2sum
	Ra2sum_scaled
        
newpage 2 5 logy
        title R-arm Cerenkov TDC0-9)                   
		Rcert0
		Rcert1 
		Rcert2 
		Rcert3 
		Rcert4 
		Rcert5 
		Rcert6 
		Rcert7 
		Rcert8 
		Rcert9
	
newpage 1 3 logy
        title R-arm Cerenkov Sum
        Rcersum
        Rcer_x -type COLZ -noshowgolden
        Rcer_y -type COLZ -noshowgolden

newpage 1 4 logy
	title R-arm VDC hits 
	Ru1nhit
	Ru2nhit
	Rv1nhit
	Rv2nhit

#newpage 1 4 
#    title R-arm VDC multihits 
#    Rvu1nthit -type COLZ -noshowgolden
#    Rvu2nthit -type COLZ -noshowgolden
#    Rvv1nthit -type COLZ -noshowgolden
#    Rvv2nthit -type COLZ -noshowgolden


#newpage 1 4 
#    title  R-arm VDC TDC rawtime per wire
#    Rvu1tn -type COLZ -noshowgolden
#    Rvu2tn -type COLZ -noshowgolden
#    Rvv1tn -type COLZ -noshowgolden
#    Rvv2tn -type COLZ -noshowgolden

newpage 1 4 
	title R-arm VDC TDC
	  Rvu1t 
	  Rvu2t 
	  Rvv1t 
	  Rvv2t 

newpage 2 4 
	title R-arm VDC wires and eff.
	Rvu1w
	Ru1eff
	Rvu2w
	Ru2eff
	Rvv1w
	Rv1eff
	Rvv2w
	Rv2eff

newpage 2 2 logy
    title R-arm VDC ineffciency.
    Ru1ineff
    Ru2ineff
    Rv1ineff
    Rv2ineff

newpage 2 8 logy
        title Preshower ADC:ped. alligned (0-17)
	multiplot 0 15 Rpsa_pXXXXX

newpage 2 8 logy
        title Preshower ADC:ped. alligned (16-31)
	multiplot 16 31 Rpsa_pXXXXX

newpage 2 8 logy
        title Preshower ADC:ped. alligned (32-47)
	multiplot 32 47 Rpsa_pXXXXX


newpage 2 8 logy
        title Shower ADC:ped. alligned (0-15)
	multiplot 0 15 Rsha_pXXXXX

newpage 2 8 logy
        title Shower ADC:ped. alligned (16-31)
	multiplot 16 31 Rsha_pXXXXX

newpage 2 8 logy
        title Shower ADC:ped. alligned (32-47)
	multiplot 32 47 Rsha_pXXXXX

newpage 2 8 logy
        title Shower ADC:ped. alligned (48-63)
	multiplot 48 63 Rsha_pXXXXX

newpage 2 6 logy
        title Shower ADC:ped. alligned (64-74)
	multiplot 64 74 Rsha_pXXXXX


newpage 2 2
        title  Preshower/Shower vs. X and Y
        Rp1sumx -type COLZ -noshowgolden
        Rp2sumx -type COLZ -noshowgolden
        Rp1sumy -type COLZ -noshowgolden
        Rp2sumy -type COLZ -noshowgolden

newpage 1 2 logy
	title RHRS V1495 Clock Interval (and BCM)
	RClockInterval 

newpage 1 3
    title Beamline
    beam_unrasterxy -type COLZ -noshowgolden
    beam_rasterxy   -type COLZ -noshowgolden
    macro scripts/energy_stability_right.C(0)

newpage 1 2 
        title PID
	macro scripts/pid_det_right.C(1,"col")
 	macro scripts/pid_det_right.C(2,"col")


newpage 2 3
	title Physics
	EKRQ2
	EKRXBJ
	EKR_xQ2 -noshowgolden
	EKRNU
	EKRW
	EKR_TH_E

newpage 2 2 logz
        title Good Events Rate
        macro scripts/rate_check_R.C(1,"")
        macro scripts/rate_check_R.C(2,"")
        macro scripts/rate_check_R.C(3,"")
        macro scripts/rate_check_R.C(4,"col") -noshowgolden
