# Configuration file for the online GUI 
# This file is for detectors on L-arm.
# This file uses histograms, best for analyzer version >= 1.1
#
#  All lines containing "#" are treated as comments (ignored)
#  Last line MUST be blank.
#  Multiple spaces are treated as one space.
#  More details in README


#goldenrootfile ROOTfiles/e05102_L_2942.root

#protorootfile /home/igorko/E01015/Rootfiles/e07-006_all_XXXXX.root
protorootfile /adaqfs/home/adaq/e07006/onlana/Rootfiles/e07006_all_XXXXX.root
newpage 2 2
	title Target and Momentum HRS Left
	L_dp
	L_tgy
	L_tgth
	L_tgph

newpage 2 2
	title Target and Momentum HRS Right
	R_dp
	R_tgy
	R_tgth
	R_tgph


newpage 2 1
	title Coincidence Time
	L_b_R
	R_b_L

newpage 3 2
	title Physic
	Emiss
	Pmiss
	Mmiss
	Pmiss_X
	Pmiss_Y
	Pmiss_Z

newpage 3 1
	title Physic2
	thq_Q2
	W2_Q2
	thq_W2


newpage 3 1
	title Target
	HRSL
	HRSR
	L_vs_R
