# Configuration file for the online GUI 
# This file is for detectors on L-arm.
# This file uses histograms, best for analyzer version >= 1.1
#
#  All lines containing "#" are treated as comments (ignored)
#  Last line MUST be blank.
#  Multiple spaces are treated as one space.
#  More details in README


#protorootfile /adaql10/work1/e07006/Rootfiles/e07006_BB_HRS_XXXXX.root


#protorootfile /adaql10/work1/e07006/Rootfiles/e07006_all_XXXXX_8.root
protorootfile /adaql10/work1/e07006/Rootfiles/e07006_all_XXXXX.root
#goldenrootfile /adaql10/work1/e07006/Rootfiles/e07006_all_2815.root
#goldenrootfile /adaql10/work1/e07006/Rootfiles/e07006_all_3029.root
goldenrootfile /adaql10/work1/e07006/Rootfiles/e07006_all_3199.root

#### This file includes L-HRS,R-HRS,Bigbit and HAND
####  -- Zhihong Ye, 02/14/2011
#############################
# L-HRS
#############################
newpage 2 6 logy
	title L-arm S1 L-PMT ADC pedsub (0-5)
	Ls1la_p0
	Ls1ra_p0
	Ls1la_p1
	Ls1ra_p1
	Ls1la_p2
	Ls1ra_p2
	Ls1la_p3
	Ls1ra_p3
	Ls1la_p4
	Ls1ra_p4
	Ls1la_p5
	Ls1ra_p5

newpage 2 6 logy
	title L-arm S1 L-PMT TDC (0-5)
	Ls1lt0
	Ls1rt0
	Ls1lt1
	Ls1rt1
	Ls1lt2
	Ls1rt2
	Ls1lt3
	Ls1rt3
	Ls1lt4
	Ls1rt4
	Ls1lt5
	Ls1rt5

newpage 2 8 logy
	title L-arm S2m ADC pedsub (0-7)
	Ls2la_p0
	Ls2ra_p0
	Ls2la_p1
	Ls2ra_p1
	Ls2la_p2
	Ls2ra_p2
	Ls2la_p3
	Ls2ra_p3
	Ls2la_p4
	Ls2ra_p4
	Ls2la_p5
	Ls2ra_p5
        Ls2la_p6
        Ls2ra_p6
        Ls2la_p7
        Ls2ra_p7

newpage 2 8 logy
        title L-arm S2m ADC pedsub (8-15)
        Ls2la_p8
        Ls2ra_p8
        Ls2la_p9
        Ls2ra_p9
        Ls2la_p10
        Ls2ra_p10
        Ls2la_p11
        Ls2ra_p11
        Ls2la_p12
        Ls2ra_p12
        Ls2la_p13
        Ls2ra_p13
        Ls2la_p14
        Ls2ra_p14
        Ls2la_p15
        Ls2ra_p15

newpage 2 8 logy
	title L-arm S2m TDC (0-8)
	Ls2lt0
	Ls2rt0
	Ls2lt1
	Ls2rt1
	Ls2lt2
	Ls2rt2
	Ls2lt3
	Ls2rt3
	Ls2lt4
	Ls2rt4
	Ls2lt5
	Ls2rt5
        Ls2lt6
        Ls2rt6
        Ls2lt7
        Ls2rt7

newpage 2 8 logy
        title L-arm S2m TDC (6-15)
     	Ls2lt8
        Ls2rt8
        Ls2lt9
        Ls2rt9
        Ls2lt10
        Ls2rt10
        Ls2lt11
        Ls2rt11
        Ls2lt12
        Ls2rt12
        Ls2lt13
        Ls2rt13
        Ls2lt14
        Ls2rt14
        Ls2lt15
        Ls2rt15

newpage 1 3 
	title Cerenkov sum 
        Lcer 
#        Lcer_x -noshowgolden -type cont0  -noshowgolden
#        Lcer_y -noshowgolden -type cont0  -noshowgolden
        Lcer_x -noshowgolden -type COLZ -noshowgolden
        Lcer_y -noshowgolden -type COLZ -noshowgoldennewpage 1 3 

newpage 4 4
	title L-arm VDC
        Lvu1w
	Lvu2w
	Lvv1w
	Lvv2w
        Lvu1t
	Lvu2t
	Lvv1t
	Lvv2t
	Lu1nhit
	Lu2nhit
	Lv1nhit
	Lv2nhit
        macro dr_hist.C("Lu1eff",0.75,1.1) -noshowgolden
        macro dr_hist.C("Lu2eff",0.75,1.1) -noshowgolden
        macro dr_hist.C("Lv1eff",0.75,1.1) -noshowgolden
        macro dr_hist.C("Lv2eff",0.75,1.1) -noshowgolden

#newpage 1 1 logy
#	title L-arm VDC number of tracks
#	Lntrk

newpage 1 1
        title Pion Rejector
        Lpr1_2

newpage 2 2
        title Pion Rejector sum:x & sum:y
        Lp1sumx
	Lp1sumy
        Lp2sumx
	Lp2sumy



##############################
# R-HRS
##############################
newpage 2 6 logy
 	title R-arm S1 TDC (0-5)
 	Rs1lt0
 	Rs1rt0
 	Rs1lt1
 	Rs1rt1
 	Rs1lt2
 	Rs1rt2
 	Rs1lt3
 	Rs1rt3
 	Rs1lt4
 	Rs1rt4
 	Rs1lt5
 	Rs1rt5


newpage 2 6 logy
 	title R-arm S1 ADC (0-5)
 	Rs1la0
 	Rs1ra0
 	Rs1la1
 	Rs1ra1
 	Rs1la2
 	Rs1ra2
 	Rs1la3
 	Rs1ra3
 	Rs1la4
 	Rs1ra4
 	Rs1la5
 	Rs1ra5

#newpage 2 8 logy
# 	title R-arm S1 ADC ped sub
# 	Rs1la_p0
# 	Rs1ra_p0
# 	Rs1la_p1
# 	Rs1ra_p1
# 	Rs1la_p2
# 	Rs1ra_p2
# 	Rs1la_p3
# 	Rs1ra_p3
# 	Rs1la_p4
# 	Rs1ra_p4
# 	Rs1la_p5
# 	Rs1ra_p5

#newpage 2 2 logy
#	title R-arm s0
#	Rs0lt
#	Rs0rt
#	Rs0la
#	Rs0ra

newpage 2 8 logy
	title R-arm S2 TDC (0-7)
	Rs2lt0
	Rs2rt0
	Rs2lt1
	Rs2rt1
	Rs2lt2
	Rs2rt2
	Rs2lt3
	Rs2rt3
	Rs2lt4
	Rs2rt4
	Rs2lt5
	Rs2rt5
	Rs2lt6
	Rs2rt6
	Rs2lt7
	Rs2rt7

newpage 2 6 logy
	title R-arm s2 TDC 86-15)
	Rs2lt8
	Rs2rt8
	Rs2lt9
	Rs2rt9
	Rs2lt10
	Rs2rt10
	Rs2lt11
	Rs2rt11
	Rs2lt12
	Rs2rt12
	Rs2lt13
	Rs2rt13
	Rs2lt14
	Rs2rt14
	Rs2lt15
	Rs2rt15

newpage 2 8 logy
	title R-arm S2 ADC (0-7)
	macro dr_hist.C("Rs2la0",0.1,500000)
	macro dr_hist.C("Rs2ra0",0.1,500000)
	macro dr_hist.C("Rs2la1",0.1,500000)
	macro dr_hist.C("Rs2ra1",0.1,500000)
	macro dr_hist.C("Rs2la2",0.1,500000)
	macro dr_hist.C("Rs2ra2",0.1,500000)
	macro dr_hist.C("Rs2la3",0.1,500000)
	macro dr_hist.C("Rs2ra3",0.1,500000)
	macro dr_hist.C("Rs2la4",0.1,500000)
	macro dr_hist.C("Rs2ra4",0.1,500000)
	macro dr_hist.C("Rs2la5",0.1,500000)
	macro dr_hist.C("Rs2ra5",0.1,500000)
	macro dr_hist.C("Rs2la6",0.1,500000)
	macro dr_hist.C("Rs2ra6",0.1,500000)
	macro dr_hist.C("Rs2la7",0.1,500000)
	macro dr_hist.C("Rs2ra7",0.1,500000)

newpage 2 8 logy
	title R-arm S2 ADC (8-15)
	macro dr_hist.C("Rs2la8",0.1,500000)
	macro dr_hist.C("Rs2ra8",0.1,500000)
	macro dr_hist.C("Rs2la9",0.1,500000)
	macro dr_hist.C("Rs2ra9",0.1,500000)
	macro dr_hist.C("Rs2la10",0.1,500000)
	macro dr_hist.C("Rs2ra10",0.1,500000)
	macro dr_hist.C("Rs2la11",0.1,500000)
	macro dr_hist.C("Rs2ra11",0.1,500000)
	macro dr_hist.C("Rs2la12",0.1,500000)
	macro dr_hist.C("Rs2ra12",0.1,500000)
	macro dr_hist.C("Rs2la13",0.1,500000)
	macro dr_hist.C("Rs2ra13",0.1,500000)
	macro dr_hist.C("Rs2la14",0.1,500000)
	macro dr_hist.C("Rs2ra14",0.1,500000)
	macro dr_hist.C("Rs2la15",0.1,500000)
	macro dr_hist.C("Rs2ra15",0.1,500000)

#newpage 2 8 logy
#	title R-arm S2 ADC ped sub (0-7)
#	Rs2la_p0
#	Rs2ra_p0
#	Rs2la_p1
#	Rs2ra_p1
#	Rs2la_p2
#	Rs2ra_p2
#	Rs2la_p3
#	Rs2ra_p3
#	Rs2la_p4
#	Rs2ra_p4
#	Rs2la_p5
#	Rs2ra_p5
#	Rs2la_p6
#	Rs2ra_p6
#	Rs2la_p7
#	Rs2ra_p7
#	Rs2la_p8
#	Rs2ra_p8
#	Rs2la_p6
#	Rs2ra_p6
#	Rs2la_p7
#	Rs2ra_p7

#newpage 2 8 logy
#	title R-arm S2 ADC ped sub (8-15)
#	Rs2la_p8
#	Rs2ra_p8
#	Rs2la_p9
#	Rs2ra_p9
#	Rs2la_p10
#	Rs2ra_p10
#	Rs2la_p11
#	Rs2ra_p11
#	Rs2la_p12
#	Rs2ra_p12
#	Rs2la_p13
#	Rs2ra_p13
#	Rs2la_p14
#	Rs2ra_p14
#	Rs2la_p15
#	Rs2ra_p15

newpage 1 1 logy
	title R-arm Cerenkov Sum
	Rcer_sum

newpage 4 4
	title R-arm VDC
        macro dr_hist.C("Rvu1w",0,-1) -noshowgolden
	macro dr_hist.C("Rvu2w",0,-1) -noshowgolden
	macro dr_hist.C("Rvv1w",0,-1) -noshowgolden
	macro dr_hist.C("Rvv2w",0,-1) -noshowgolden

        macro dr_hist.C("Rvu1t",0,-1) -noshowgolden
	macro dr_hist.C("Rvu2t",0,-1) -noshowgolden
	macro dr_hist.C("Rvv1t",0,-1) -noshowgolden
	macro dr_hist.C("Rvv2t",0,-1) -noshowgolden

	Ru1nhit -noshowgolden
	Ru2nhit -noshowgolden
	Rv1nhit -noshowgolden
	Rv2nhit -noshowgolden

        macro dr_hist.C("Ru1eff",0,1.1) -noshowgolden
        macro dr_hist.C("Ru2eff",0,1.1) -noshowgolden
        macro dr_hist.C("Rv1eff",0,1.1) -noshowgolden
        macro dr_hist.C("Rv2eff",0,1.1) -noshowgolden

        macro dr_hist.C("Ru1eff",0.75,1.1) -noshowgolden
        macro dr_hist.C("Ru2eff",0.75,1.1) -noshowgolden
        macro dr_hist.C("Rv1eff",0.75,1.1) -noshowgolden
        macro dr_hist.C("Rv2eff",0.75,1.1) -noshowgolden

##########################
# FPP
##########################
# newpage 3 4 
#	title FPP Chamber 1&2 Wire Groups
#	u1_wn
#	u2_wn
#	u3_wn
#	v1_wn
#	v2_wn
#	v3_wn

#	u4_wn
#	u5_wn
#	u6_wn
#	v4_wn
#	v5_wn
#	v6_wn


#newpage 3 4 
#	title FPP Chamber 3&4 Wire Groups
#	u7_wn
#	u8_wn
#	v7_wn
#	v8_wn
#	x1_wn
#	x2_wn

#	u9_wn
#	u10_wn
#	u11_wn
#	v9_wn
#	v10_wn
#	v11_wn
	


#######################
# Beam info & Others
#######################

#######################
# sync ROC clock
#######################
newpage 2 5
        title ROC sync ( should be straight line )
SynROC1ROC2
SynROC1ROC3
SynROC1ROC4
SynROC1ROC10
SynROC2ROC3
SynROC2ROC4
SynROC2ROC10
SynROC3ROC4
SynROC3ROC10
SynROC4ROC10

newpage 2 5
	title ROC syncs should be straight line
	macro  /adaqfs/home/adaq/e07006/onlana/onlineGUI_v1.2.1/sync.C(1,2)
	macro  /adaqfs/home/adaq/e07006/onlana/onlineGUI_v1.2.1/sync.C(1,3)
	macro  /adaqfs/home/adaq/e07006/onlana/onlineGUI_v1.2.1/sync.C(1,4)
	macro  /adaqfs/home/adaq/e07006/onlana/onlineGUI_v1.2.1/sync.C(1,10)
	macro  /adaqfs/home/adaq/e07006/onlana/onlineGUI_v1.2.1/sync.C(2,3)
	macro  /adaqfs/home/adaq/e07006/onlana/onlineGUI_v1.2.1/sync.C(2,4)
	macro  /adaqfs/home/adaq/e07006/onlana/onlineGUI_v1.2.1/sync.C(2,10)
	macro  /adaqfs/home/adaq/e07006/onlana/onlineGUI_v1.2.1/sync.C(3,4)
	macro  /adaqfs/home/adaq/e07006/onlana/onlineGUI_v1.2.1/sync.C(3,10)
	macro  /adaqfs/home/adaq/e07006/onlana/onlineGUI_v1.2.1/sync.C(4,10)

newpage 2 5 logy
	title ROC syncs scaler differences RMS should be less than 10
	macro  /adaqfs/home/adaq/e07006/onlana/onlineGUI_v1.2.1/syncDiff.C(1,2)
	macro  /adaqfs/home/adaq/e07006/onlana/onlineGUI_v1.2.1/syncDiff.C(1,3)
	macro  /adaqfs/home/adaq/e07006/onlana/onlineGUI_v1.2.1/syncDiff.C(1,4)
	macro  /adaqfs/home/adaq/e07006/onlana/onlineGUI_v1.2.1/syncDiff.C(1,10)
	macro  /adaqfs/home/adaq/e07006/onlana/onlineGUI_v1.2.1/syncDiff.C(2,3)
	macro  /adaqfs/home/adaq/e07006/onlana/onlineGUI_v1.2.1/syncDiff.C(2,4)
	macro  /adaqfs/home/adaq/e07006/onlana/onlineGUI_v1.2.1/syncDiff.C(2,10)
	macro  /adaqfs/home/adaq/e07006/onlana/onlineGUI_v1.2.1/syncDiff.C(3,4)
	macro  /adaqfs/home/adaq/e07006/onlana/onlineGUI_v1.2.1/syncDiff.C(3,10)
	macro  /adaqfs/home/adaq/e07006/onlana/onlineGUI_v1.2.1/syncDiff.C(4,10)
